@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../image/bg.png");
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    background-size: cover;
}

/* header */

header {
    padding-top: 32px;
    height: 152px
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #5d32dd 0%, #9572FC 50.52%, #4BBDB0 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
    animation: fromTop .7s .4s backwards;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

/* Group button */  

.grupos {
    margin: 20px auto;
    text-align: center;
    width: 500px;
    height: auto;
    font-weight: bold;
    transition: transform .3s;
    animation: fromTop .7s .4s backwards;
}

.grupos a {
    color: white;
    text-decoration: none;
    transition: all .4s;
}

.grupos a:hover {
    color: #5d32dd;
}

/* main */

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .7s;
}

main section:nth-child(4) {
    animation-delay: .9s;
}

section {
    color: white;

    background-image: linear-gradient(90deg, #5d32dd 0%, #9572FC 50.52%, #4BBDB0 100%);
    /* background-image: linear-gradient(90deg, #9572FC 0%, #da6363 50.52%, #E2D45C 100%); */
    padding-top: 8px;
    border-radius: 8px;
}

section div {
    background-color: #2a2634;
    padding: 32px 32px 32px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #a1a1aa;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;

    margin-top: 24px;
}

section ul li {
    transition: all .2s;
}

section ul li {
    transition: all .2s;
}

ul {
    list-style: none;
}

.player-list img{
    width: 100px;
    height: 140px;
    border-radius: 8px;
}

.player-list li {
    border-radius: 8px;
    height: 140px;
}

.player-list li:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    transform: scale(1.1);
}

.lendario-list img {
    width: 100px;
    height: 140px;
    border-radius: 8px;
}

.lendario-list li {
    border-radius: 8px;
    height: 140px;
}

.lendario-list li:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.434);
    transform: scale(1.1);
}

.social-list {
    justify-content: flex-start;
}

.social-list li:hover {
    transform: scale(1.1);
}

/* animation */

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}